<div class="d-none w-100 text-danger" id="update-form-feedback"></div>
<form class="d-flex flex-column gap-3 w-25 pt-5" id="update-form">
	<div id="passwords-container" class="d-flex flex-column gap-3">
		<div class="form-floating">
			<input type="password" id="update-password" class="form-control secondary-background-color default-text-color" placeholder="password">
			<label for="update-password">Change Password *</label>
			<div class="invalid-feedback text-start" id="update-password-feedback"></div>
			<div id="password-rules" class="text-start">
				<ul class="p-3 list-unstyled mb-0">
					<li class=" border-start ps-1">At least 8 characters</li>
					<li class=" border-start ps-1">At least one uppercase letter</li>
					<li class=" border-start ps-1">At least one lowercase letter</li>
					<li class=" border-start ps-1">At least one number</li>
					<li class=" border-start ps-1">At least one special character</li>
				</ul>
			</div>
		</div>
		<div class="form-floating">
			<input type="password" id="update-retype-password" class="form-control secondary-background-color default-text-color" placeholder="password">
			<label for="update-retype-password">Confirm Password *</label>
			<div class="invalid-feedback text-start" id="update-retype-password-feedback"></div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
