<p>Register with 42 account</p>
<form class="d-flex flex-column gap-3 w-25 pt-5" id="ft-register-form">
	<div class="form-floating">
		<input type="text" autocomplete="off" id="ft-register-nickname" class="form-control secondary-background-color default-text-color" placeholder="nickname">
		<label for="ft-register-nickname">Nickname *</label>
		<div class="invalid-feedback text-start" id="ft-register-nickname-feedback">
		</div>
	</div>
	<button type="submit" class="btn btn-primary w-100">Submit</button>
</form>